<?xml version="1.0" encoding="UTF-8"?>
<module id="7400" version="2015090900">
  <modulename>certificate</modulename>
  <sectionid>2032</sectionid>
  <sectionnumber>4</sectionnumber>
  <idnumber></idnumber>
  <added>1505356579</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <groupmembersonly>0</groupmembersonly>
  <completion>2</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>1</completionview>
  <completionexpected>0</completionexpected>
  <availablefrom>0</availablefrom>
  <availableuntil>0</availableuntil>
  <showavailability>1</showavailability>
  <showdescription>0</showdescription>
  <availability_info>
    <availability id="4007">
      <sourcecmid>7378</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4008">
      <sourcecmid>7380</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4009">
      <sourcecmid>7389</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4010">
      <sourcecmid>7397</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4011">
      <sourcecmid>7374</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4012">
      <sourcecmid>7387</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4013">
      <sourcecmid>7393</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4014">
      <sourcecmid>7392</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4015">
      <sourcecmid>7398</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4016">
      <sourcecmid>7383</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4017">
      <sourcecmid>7385</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4018">
      <sourcecmid>7384</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4019">
      <sourcecmid>7394</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4020">
      <sourcecmid>7396</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4021">
      <sourcecmid>7386</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4022">
      <sourcecmid>7395</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4023">
      <sourcecmid>7388</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4024">
      <sourcecmid>7382</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4025">
      <sourcecmid>7379</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4026">
      <sourcecmid>7376</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4027">
      <sourcecmid>7377</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4028">
      <sourcecmid>7375</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
    <availability id="4029">
      <sourcecmid>7399</sourcecmid>
      <requiredcompletion>1</requiredcompletion>
      <gradeitemid>$@NULL@$</gradeitemid>
      <grademin>$@NULL@$</grademin>
      <grademax>$@NULL@$</grademax>
    </availability>
  </availability_info>
</module>